USE [master]
GO
/****** Object:  Database [DemoDB]    Script Date: 4.10.2018 00:04:12 ******/
CREATE DATABASE [DemoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoDB]
GO
USE [DemoDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4.10.2018 00:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[ImgUri] [nvarchar](400) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](40) NOT NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [ImgUri], [Price], [Currency], [Description]) VALUES (1, N'IPhone XS 256 GB', N'http://www.asd.com/applexs.jpg', CAST(500.00 AS Decimal(18, 2)), N'USD', N'beyazzzz')
INSERT [dbo].[Product] ([Id], [Name], [ImgUri], [Price], [Currency], [Description]) VALUES (2, N'Samsung J5 PRO 64 GB', N'http//www.asd.com/samsung.jpg', CAST(140.00 AS Decimal(18, 2)), N'EUR', N'Black')
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
